---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="MadaraWeed.dev">
  <main>
    <h1>MadaraWeed.dev</h1>
    <iframe src="https://giphy.com/embed/YiKQwbS2imZ4SMxIsZ" width="480" height="271" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/disenchantment-luci-elfo-princess-bean-YiKQwbS2imZ4SMxIsZ">via GIPHY</a></p>
  </main>
</Layout>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	iframe {
		border: none;
		border-radius: 15px;
	}
</style>
