---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="MadaraWeed.dev">
  <main>
    <h1>MadaraWeed.dev</h1>
    <iframe
      src="https://giphy.com/embed/r2gi1zj5nbFetxqHyC"
      width="480"
      height="480"></iframe>
  </main>
</Layout>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	iframe {
		border: none;
		border-radius: 15px;
	}
</style>
